mixin itemList(header, list)
  h1=header
  table.table
    thead
      tr
        th Description
        th Status
        th Actions
    tbody
        each item in list
          tr
            td= item.description
            td
              div(class=['badge', item.complete ? 'bg-success' : 'bg-primary'])= item.completeText
            td
              div.actions
                form(action=`/deleteItem/${item.id}` method="POST")
                  button.btn.btn-danger(type="Submit") Delete
                form(action=`editItem/${item.id}` method="GET")
                  button.btn.btn-primary Edit
                if item.complete
                  form(action=`/incompleteItem/${item.id}`, method="POST")
                    button.btn.btn-warning Mark as Incomplete
                else
                  form(action=`/completeItem/${item.id}`, method="POST")
                    button.btn.btn-success Mark as Complete
